@import '../../vars/base';

/* ============================================================================
 * Variables
 * ========================================================================= */
$color-steps-title: #D91212;

%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%intro-section {
    width: 60%;
    padding: 8px;
}

/* ============================================================================
 * ChooseProject Component Rules
 * ========================================================================= */
#chooseProject {
    background-color: $background-color-primary;
    min-height: 100vh;

    /* Intro */
    .introWrapper {
        @extend %flex-column-center;
        background-color: $background-color-primary-inverse;
        padding: 24px;
        margin-bottom: 24px;

        p, li {
            color: $color-text-primary-inverse;
        }
    }

    .title {
        padding: 12px;

        p {
            font-weight: bold;
            font-size: 1.8rem;
            padding: 12px;
            border-bottom: 1px solid $color-text-secondary;
        }
    }

    .intro, .introList {
        @extend %intro-section;
    }
    .introList ul {
        width: 90%;
        margin-right: 0px;
        margin-left: auto;
    }
    .introList li {
        margin: 4px 0px;
    }

    .actionButton {
        margin: 24px 0px;
    }

    /* Steps and svgs */
    .stepsWrapper {
        @extend %flex-column-center;

        > div {
            width: 60%;
            margin-bottom: 48px;

            /* For Fade-in effect */
            opacity: 0;
            transform: translate(0, 20px);
            transition: all 1s;
        }
        /* The visible class to fade in when scroll to */
        > div.visible {
            opacity: 1;
            transform: translate(0, 0);
        }
        > div > p {
            font-size: 1.2rem;
            padding: 12px;
            margin-bottom: 12px;
        }
        > div > div {

        }
        > div > div img {
            display: block;
            width: 100%;
        }
    }
    .stepsTitle {
        color: $color-steps-title;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1024px) {
    #chooseProject {
        .title p {
            font-size: 1.5rem;
        }

        .intro p,
        .introList li {
            font-size: 0.9rem;
        }

        .stepsWrapper > div > p {
            font-size: 0.9rem;
        }
        .stepsTitle {
            font-size: 1.0rem;
        }
    }
}

