@import '../../vars/base';

/* ============================================================================
 * Variables
 * ========================================================================= */

/* ============================================================================
 * Project Component Rules
============================================================================ */
#project {
    background-color: $background-color-primary;
    position: relative;
    min-width: 1024px;
    min-height: 100vh;

    /* Backdrop */
    .backdrop {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }
    .backdrop > div {
        color: $color-text-primary-inverse;
    }

    /* Content */
    .projectContent {
        padding: 12px 24px;
    }

    /* Tabs */
    .projectTabs {
        border-bottom: 1px solid $color-divider;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 8px;   
    }
    
    .projectTabs > div {
        padding: 8px 24px;

        &:hover {
            cursor: pointer;   
        }
    }
    .activeTab p {
        font-weight: bold;
    }
}
