@import '../../vars/base';

/* ============================================================================
Variables
============================================================================ */
$about-background-height: 244px;
$color-divider: #B2B2B2;

%material-container {
    background-color: $background-color-primary-light;
    padding: 24px;
    box-shadow: $component-shadow;
}
%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ============================================================================
Rules
============================================================================ */
#about {
    position: relative;
    background-color: $background-color-primary;
    min-height: 100vh;

    .aboutBackground {
        background-color: $background-color-primary-inverse;
        width: 100%;
        height: $about-background-height;
    }
    .aboutContent {
        @extend %flex-column-center;
        transform: translateY(-($about-background-height / 2) - 48px);
        z-index: 5;
    }
    .title {
        color: $color-text-primary-inverse;
        font-weight: bold;
        font-size: 1.8rem;
        padding: 12px;
        margin: 24px 0px;
        width: 70%;
    }
    .welcome {
        @extend %material-container;
        color: $color-text-primary;
        font-size: 0.9rem;
        width: 70%;
        max-width: 1824px;
        margin-bottom: 24px;

        div > p:not(.welcomeTitle) {
            margin: 8px 0px;
        }
    }
    .welcomeTitle {
        color: $color-text-primary;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 4px 0px;
        margin-top: 20px;
    }
    .meetTheTeam {
        @extend %material-container;
        width: 70%;
        max-width: 1824px;

        > p:nth-of-type(1) {
            color: $color-text-primary;
            font-weight: bold;
            font-size: 1.2rem;
            padding: 12px;
            margin-bottom: 12px;
        }
    }
    .memberCard {
        display: flex;
        flex-direction: row;
        padding: 12px 0px;
        margin-bottom: 12px;
        border-top: 1px solid $color-divider;
    }
    .memberPicture {
        flex-basis: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px;

        > div {
            width: 100px;
            height: 100px;
            background-color: $color-text-primary;
            border-radius: 50%;
        }
    }
    .memberDetails {
        flex-basis: 75%;

        > p:nth-of-type(1) {
            font-size: 1.0rem;
            padding: 4px 0px;
            margin-bottom: 4px;
        }

        > p:nth-of-type(2) {
            font-style: italic;
            font-size: 0.9rem;
            padding: 4px 0px;
            margin-bottom: 4px;
        }

        > p:nth-of-type(3) {
            color: $color-text-primary;
            font-size: 0.9rem;
            padding: 4px 0px;
            line-height: 18px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #about {
        .memberCard {
            flex-direction: column;
        }
        .memberDetails > p:nth-of-type(1) {
            text-align: center;
        }
        .memberDetails > p:nth-of-type(2) {
            text-align: center;
            font-size: 0.8rem;
        }
        .memberDetails > p:nth-of-type(3) {
            font-size: 0.8rem;
            width: 80%;
            margin: 0px auto;
        }
    }
}

@media only screen and (min-width: 1920px) {
    #about {
        .memberCard {
            justify-content: flex-start;
        }
        .memberPicture {
            flex-basis: 15%;
        }
        .memberDetails {
            flex-basis: 65%;
        }
    }
}
