@import "../../vars/base";
/* ============================================================================
 * Variables
 * ========================================================================= */
$background-color-tarantula: #222222;
$background-color-filecontainer-hover: #363636;
$color-svgcontainer-border: #B4B4B4;
$color-sliderrect: #0091ea;

/* ============================================================================
 * Tarantula Component Rules
 * ========================================================================= */
#tarantula {
    /* ============================================================================
    * Directory Actions and Commit Select
    ============================================================================ */
    #commitContainer {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 12px auto;
    }
    /* Clear, All, Passed, and Failed Actions */
    #directoryActions {
        align-self: center;
    }
    .directoryButton {
        font-size: 0.8rem;
    }

    /* ============================================================================
    * Tarantula Wrapper (for directory view, minimap, and display view)
    ============================================================================ */
    #tarantulaWrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    /* ============================================================================
    * Directory Container
    ============================================================================ */
    #directoryContainer {
        background-color: $background-color-primary-light;
        box-shadow: $component-shadow;
        overflow-x: scroll;
        overflow-y: auto;
        margin-right: 12px;

        .testcase {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .testcase > p {
            font-weight: bold;
            font-size: 13px;
            margin: 0px 12px 0px 6px;
        }

        .checkboxWrapper {
            white-space: nowrap;
            padding: 1px;
            margin: 1px;
        }
    }

    /* ============================================================================
    * Visualization Wrapper (for minimap and display view)
    ============================================================================ */
    #visualizationWrapper {
        position: relative;
    }

    /* ============================================================================
    * Horizontal Scroll View
    ============================================================================ */
    #horizontalScrollView {
        background-color: $background-color-tarantula;
        box-shadow: $component-shadow;
        display: flex;
        overflow-x: scroll;
        margin-bottom: 12px;
    }

    /* ============================================================================
    * File Container
    ============================================================================ */
    .fileContainer {
        background-color: $background-color-tarantula;
        padding: 8px;

        &:hover {
            background-color: $background-color-filecontainer-hover;
            cursor: pointer;
        }

        /* File Title */
        > div:nth-of-type(1) > p {
            color: $color-text-primary-inverse;
            font-size: 10px;
            font-weight: bold;
            margin: 2px 0px;
        }
    }
    .fileContainerSelected {
        background-color: $background-color-filecontainer-hover;
    }

    /* ============================================================================
    * Minimap 
    ============================================================================ */ 
    .svgContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        > div {
            border: 1px solid $color-svgcontainer-border;
            margin-right: 3px;
            overflow: hidden;
        }
        > div > svg > text {
            white-space: pre;
            dominant-baseline: hanging;
        }
        > div > svg > text > tspan {
            fill: $color-text-primary-inverse;
        }
        .sliderRect {
            fill: $color-sliderrect;
            opacity: 0.3;
            cursor: pointer;
        }
    }

    /* ============================================================================
    * Scroll Container (display view)
    ============================================================================ */
    #scrollContainer {
        background-color: $background-color-tarantula;
        box-shadow: $component-shadow;
        height: 512px;
        overflow-y: scroll;

        table {
            display: block;
            border-collapse: collapse;
        }
        table tr td {
            color: $color-text-primary-inverse;
        }
        .coverable {
            cursor: pointer;
        }
    }
}

/* Select input for commit id */
#selectCommit,
.taranMenuItem {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 480px;
    min-width: 244px;

    > div:nth-of-type(1) {
        margin-right: 24px;
    }

    > div:nth-of-type(2) {
        margin-left: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuItemMessage {
        font-size: 0.8rem;
        font-weight: bold;
    }
    .menuItemCommitter {
        font-size: 0.8em;
        font-weight: bold;
    }
    .menuItemDate {
        font-size: 0.7rem;
    }
    .menuItemCommitId {
        color: $color-text-commits;
    }
}

/* Circular Progress */
#progressWrapper {
    background-color: $background-color-primary;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ============================================================================
* Dialog Scores Container
============================================================================ */
#dialogScoresContainer {
    table {
        border-collapse: collapse;
    }
    table th {
        padding: 4px 8px;
        font-size: 0.8rem;
    }
    table th:nth-of-type(1) {
        text-align: left;
    }
    table td {
        font-size: 14px;
    }
    table td:nth-of-type(1) {
        padding: 0px 8px
    }
    table td:nth-of-type(2) > div {
        margin: auto;
        width: 16px;
        height: 16px;
    }
    table td:nth-of-type(3) {
        text-align: center;
    } 
    table td:nth-of-type(4) {
        white-space: pre;
    }
}
#dialogSuspContainer {
    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 0px;
    }
    > div > p:nth-of-type(1) {
        flex-basis: 40%;
        color: $color-text-primary;
        font-size: 0.9rem;
    }
    > div > p:nth-of-type(2) {
        font-size: 0.9rem;
    }

    table {
        border-collapse: collapse;
        margin: 24px auto;
    }
    table th {
        padding: 4px 8px;
        font-size: 0.8rem;
    }
    table td {
        font-size: 14px;
    }
    table td:nth-of-type(1) {
        padding: 0px 8px
    }
    table td:nth-of-type(2) > div {
        margin: auto;
        width: 16px;
        height: 16px;
    }
    table td:nth-of-type(3) {
        text-align: center;
    } 
    table td:nth-of-type(4) {
        white-space: pre;
    }
}

@media only screen and (min-width: 1408px) {
    #tarantula {
        #directoryContainer {
            margin-right: 48px;
        }
    }
}
