/*
 * CREDIT: Code for styling the tooltip was used from https://www.w3schools.com/css/css_tooltip.asp
 */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 30vw;
    min-width: 120px;
    background-color: #F9F9F9;
    text-align: center;
    border-radius: 6px;
    padding: 12px 16px;

    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
  }

  .tooltip .tooltiptext p {
      color: #666;
      font-size: 0.9rem;
      text-align: start;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
