.home {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 24px;
    /* border: 1px dashed red; */
}

#horizontalScrollView {
    background-color: #FFFFFF;
    display: flex;
    overflow-x: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    .fileContainer {
        /* position: relative; */
        /* position: absolute; */
        background-color: #FFFFFF;
        padding: 24px 12px;
    }
    .fileContainer:hover {
        background-color: #E9E9E9;
        cursor: pointer;
    }
        .fileContainer > div:nth-of-type(1) > p {
            font-size: 1.0rem;
            font-weight: bold;
            margin: 12px;
        }
    .svgContainer {
        /* position: relative; */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 12px;
    }
        .svgContainer > div {
            width: 96px;
            margin-right: 6px;
            border: 1px dashed;
            overflow: hidden;
        }
            .svgContainer > div > svg > text {
                white-space: pre;
            }
                .svgContainer > div > svg > text > tspan {
                    display: block;
                    /* white-space: pre-wrap; */
                }

.sliderRect {
    fill: #000;
    opacity: 0.1;
    cursor: pointer;
}

#scrollContainer {
    background-color: #FFFFFF;
    /* padding: 24px; */
    margin: 24px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 512px;
    overflow-y: scroll;
}