@import '../../vars/base';

/* ============================================================================
 * Variables
 * ========================================================================= */
 $drawer-width: 196px;
//  $project-module-width: calc((100% - 196px - 120px) / 3);
$project-module-width: 30%;

/* ============================================================================
 * Home Component Rules
 * ========================================================================= */
#home {
    background-color: $background-color-primary;
    position: relative;
    min-height: 100vh;

    .homeView {
        padding: 12px 24px;
    }

    /* Backdrop */
    .backdrop {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }
    .backdrop > div {
        color: $color-text-primary-inverse;
    }

    /* What both views share */
    .projectUnit {
        background-color: $background-color-primary-light;
        box-shadow: $component-shadow;
    }

    /* Separate rules for List view */
    .projectUnitList {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 12px;
        margin: 12px 0px;

        &:hover {
            background-color: $color-divider-light;
            cursor: pointer;
        }

        > p:nth-of-type(1) {
            flex-basis: 25%;
        }
        > p:nth-of-type(2) {
            flex-basis: 40%;
            color: $color-text-links;
        }
        > div {
            justify-self: flex-end;
            margin-left: auto;
        }
    }

    /* Separate rules for Module view */
    .moduleWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .projectUnitModule {
        width: $project-module-width;
        height: $project-module-width;
        min-width: 200px;
        max-width: 300px;
        min-height: 244px;
        max-height: 344px;
        display: flex;
        flex-direction: column;
        margin: 24px 16px;

        &:hover {
            background-color: $color-divider-light;
            cursor: pointer;
        }
        > div:nth-of-type(1) {
            flex-grow: 1;
        }
        > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-top: 1px solid $color-divider;
        }
        > div:nth-of-type(2) > p:nth-of-type(1) {
            font-size: 1.1rem;
            padding: 4px 8px;
        }
        > div:nth-of-type(2) > p:nth-of-type(2) {
            color: $color-text-links;
            font-size: 0.8rem;
            padding: 4px 8px;
        }
        > div:nth-of-type(2) > div {
            justify-self: flex-end;
            margin-top: auto;
            padding: 4px 8px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #home {
        .projectUnitList p {
            font-size: 0.8rem;
        }

        .projectUnitModule > div:nth-of-type(2) > p:nth-of-type(1) {
            font-size: 1.0rem;
        }
        .projectUnitModule > div:nth-of-type(2) > p:nth-of-type(2) {
            font-size: 0.7rem;
        }
    }
}