.analyze {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 24px;
}

    /* .fileInfoHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
    }
        .fileInfoHeader > div {
            margin: 0px 24px;
        }
            .fileInfoHeader > div > p:nth-of-type(1) {
                color: #404040;
                font-size: 1.5rem;
            }
            .fileInfoHeader > div > p:nth-of-type(2) {
                color: #666666;
                font-size: 1.2rem;
            }

    .fileContainer {
        position: relative;
    }
        .scrollContainer {
            height: 500px;
            overflow-y: scroll;
            background-color: white;
            padding: 24px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
            .scrollContainer table {
                border: 1px dashed blue;
            }
            .scrollContainer tr td:nth-of-type(1) {
                color: #666666;
                padding: 1px 2px;
            }
        #minimap {
            position: absolute;
            top: 24px;
            right: 24px;
            cursor: crosshair;
            border: 1px dashed;
        }
            #minimap table {
                width: 100%;
            }
            #minimap td {
                font-size: 0.3rem;
            }
            #minimap tr td:nth-of-type(1) {
                color: #666666;
                padding: 1px 2px;
            }

        .slider-rect {
            fill: #000;
            opacity: 0.1;
            cursor: pointer;
        }
        
        #minimap:active .slider-rect {
            opacity: 0.05;
            cursor: move;
        }

.error {
    color: white;
    background-color: red;
}
.warning {
    color: white;
    background-color: orange;
} */







/* Svg Stuff */
#horizontalScrollView {
    background-color: #FFFFFF;
    display: flex;
    overflow-x: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    .fileContainer {
        /* position: relative; */
        /* position: absolute; */
        background-color: #FFFFFF;
        padding: 24px 12px;
    }
    .fileContainer:hover {
        background-color: #E9E9E9;
        cursor: pointer;
    }
        .fileContainer > div:nth-of-type(1) > p {
            font-size: 1.0rem;
            font-weight: bold;
            margin: 12px;
        }
    .svgContainer {
        /* position: absolute; */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 12px;
    }
        .svgContainer > div {
            width: 96px;
            margin-right: 6px;
            border: 1px dashed;
            overflow: hidden;
        }
            .svgContainer > div > svg > text {
                white-space: pre;
            }
                .svgContainer > div > svg > text > tspan {
                    display: block;
                    /* white-space: pre-wrap; */
                }

#displayScrollView {
    background-color: #FFFFFF;
    /* padding: 24px 12px; */
    margin: 24px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.selectedContainer {
    background-color: #E9E9E9;
}
.slider-rect {
    fill: #000;
    opacity: 0.1;
    cursor: pointer;
}