#projectInfoView {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

#recentCommitsView {
    background-color: #FFFFFF;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    #recentCommitsTitle {
        font-size: 1.5rem;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid #cccccc;
    }
    .recentCommitsItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 4px 8px; */
        padding: 8px 0px;
        border-bottom: 1px solid #e2e2e2;
    }
    .recentCommitsMessage {
        font-size: 0.8rem;
        font-weight: bold;
    }
    .recentCommitsCommitter {
        font-size: 0.8em;
        font-weight: bold;
    }
    .recentCommitsDate {
        font-size: 0.7rem;
    }
    .recentCommitsId {
        color: #0047AB;
        padding: 0px 24px;
    }

.materialCard {
    background-color: #FFFFFF;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 12px;
}
    .materialCard > div:nth-of-type(1) {
        flex: 4;
    }
        .materialCardNumeral {
            color: #222222;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .materialCardDescription {
            font-size: 0.9rem;
        }

    .materialCard > div:nth-of-type(2) {
        flex: 1;
    }